<!DOCTYPE html>
	<html>
		<head>
				<!--<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="/css/workbook.css"> -->
			<!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166624551-1"></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());
         gtag('config', 'UA-166624551-1');

      </script>
		<!--	gtag('config', 'G-4NWYLKENEJ'); I couldn't get this figured out
      so deleted it again. Move back inside analytics.
			I wasted another hour on this. Grr
	  -->

      {% seo %}
			<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
      <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
      <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
      {% include head-custom.html %}
		</head>

		<body>
			    <!-- HEADER -->
    <div id="header_wrap" class="outer">
       <header class="inner">
				 <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
				  <h2 id="project_description">{{ site.description | default: site.github.repository_name }}</h2>
				 <img src="/assets/images/Logo.jpg" alt="Two loops of text boxes joined by arrows. One going from Monitor, Analyse, Plan, Execute back to Monitor and the second from the Plan box to Design then back to Plan" title="Two loops of text boxes joined by arrows. One going from Monitor, Analyse, Plan, Execute back to Monitor and the second from the Plan box to Design then back to Plan">
          <!--<h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2> -->

          <br>
					<ul>
						<li>I am <a href="https://twitter.com/Eric0Lawton"> @Eric0Lawton</a> on Twitter; DMs are open for now for feedback, unless trolls get too obnoxious</li>
						<!--	<li><a href="https://mastodon.social/@Eric0Lawton"> @Eric0Lawton@mastodon.social</a> on Mastodon</li> -->
		  		</ul>
					|
					<a href="/blog">Blog</a> | <a href="/workbook">Philosophy Workbook</a> |
					<a href="/aboutme">About Me</a> |
					<a href="/">About this site</a> |
					<br>   <br>
        </header>
    </div>
			<nav  id="menu-bar">

			 </nav>

			<div class="wrapper">

			{{ content }}

			</div><!-- /.container -->
			<footer>

				Visit my<a href="https://github.com/EricLawtonCA"> github account</a>
				<br>
         <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
					 <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
				 </a>This work is licensed under a
				 <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License
				 </a>.
				 <br />
				 The site is using <a rel="license" href="http://pages-themes.github.io/midnight">The Midnight theme for for GitHub Pages </a> used under the same licence.
			</footer>
		</body>
	</html>
