<!DOCTYPE html>
	<html>
		<head>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			    <!-- HEADER -->
    <div id="header_wrap" class="outer">
       <header class="inner">
				 <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
				 <img src="/images/Kissing cardinals b IMG_0190.jpg" alt="Male cardinal feeding female">
          <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
        </header>
    </div>
			<nav>
	    		<ul>
	        		<li><a href="/blog">Blog</a></li>
							<li><a href="/workbook">Philosophy Workbook</a></li>
	        		<li><a href="/aboutme">About Me</a></li>
						  <li><a href="/">About this site</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:eric.x.lawton@gmail.com">email me</a></li>
	        		<li><a href="https://github.com/EricLawtonCA">Visit my github account</a></li>
							<li><a href="https://twitter.com/Eric0Lawton">@Eric0Lawton on Twitter</a></li>
				</ul>
			</footer>
		</body>
	</html>
